@page
@model IndexModel
@{
    ViewData["Title"] = "Listing";

    var urgentUnmetItems = Model.ListItems.Where(i => i.Status == "URGENT Needs").ToList();
    var unmetItems = Model.ListItems.Where(i => i.Status == "Unmet Needs").ToList();
    var metItems = Model.ListItems.Where(i => i.Status == "Needs Already Met").ToList();
    var otherItems = Model.ListItems
    .Where(i => i.Status != "URGENT Needs" && i.Status != "Unmet Needs" && i.Status != "Needs Already Met")
    .ToList();
}

@if (Model.ListItems.Any())
{
    if (urgentUnmetItems.Any())
    {
        <h2 style="color: #cc0000">‼ URGENT Needs</h2>
        <p>These needs must be met within the next 72 hours.</p>
        <ul>
            @foreach (var item in urgentUnmetItems)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }

    if (unmetItems.Any())
    {
        <hr />
        <h2 style="color: #cc0000">Current Needs</h2>
        <ul>
            @foreach (var item in unmetItems)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }

    if (metItems.Any())
    {
        <hr />
        <h2 style="color: #00cc00">Needs Already Met</h2>
        <ul>
            @foreach (var item in metItems)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <br />
                </li>
            }
        </ul>
    }

    if (otherItems.Any())
    {
        <hr />
        <h2 style="color: #cc0000">Other</h2>
        <ul>
            @foreach (var item in otherItems)
            {
                <li>
                    <h4>@item.Title</h4>
                    <em>Status: @item.Status</em><br />
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }
}
else
{
    <p>No items found.</p>
}
