@page
@model IndexModel
@{
    ViewData["Title"] = "Listing";

    var emergencyNeeds = Model.ListItems
    .Where(i => i.Status == "A: Emergency Needs")
    .OrderBy(i => i.DisplayOrder)
    .ToList();
    var currentNeeds = Model.ListItems
    .Where(i => i.Status == "B: Current Needs")
    .OrderBy(i => i.DisplayOrder)
    .ToList();
    var needsAlreadyMet = Model.ListItems
    .Where(i => i.Status == "C: Needs Already Met")
    .OrderBy(i => i.DisplayOrder)
    .ToList();
    var otherItems = Model.ListItems
    .Where(i => i.Status != "A: Emergency Needs" && i.Status != "B: Current Needs" && i.Status != "C: Needs Already Met")
    .OrderBy(i => i.DisplayOrder)
    .ToList();
}

@if (Model.ListItems.Any())
{
    if (emergencyNeeds.Any())
    {
        <h2 style="color: #cc0000">‼ EMERGENCY Needs</h2>
        <p>These needs must be met within the next 72 hours.</p>
        <ul>
            @foreach (var item in emergencyNeeds)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    @* TODO: Make each need collapsible down to the title and description. *@
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }

    if (currentNeeds.Any())
    {
        <hr />
        <h2 style="color: #cc0000">Current Needs</h2>
        <ul>
            @foreach (var item in currentNeeds)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }

    if (needsAlreadyMet.Any())
    {
        <hr />
        <h2 style="color: #00cc00">Needs Already Met</h2>
        <ul>
            @foreach (var item in needsAlreadyMet)
            {
                <li>
                    <h4>@item.Title</h4>
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <br />
                </li>
            }
        </ul>
    }

    if (otherItems.Any())
    {
        <hr />
        <h2 style="color: #cc0000">Other</h2>
        <ul>
            @foreach (var item in otherItems)
            {
                <li>
                    <h4>@item.Title</h4>
                    <em>Status: @item.Status</em><br />
                    @Html.Raw(item.Description)<br />
                    <b>Hosting Dates/Length:</b> @item.HostingDatesLength<br />
                    <b>Location Details:</b> @item.LocationDetails<br />
                    <b>Important Details:</b> @Html.Raw(item.ImportantDetails)<br />
                    <button style="background-color: #77dd77" onclick="location.href='@item.GetLink(@Model.LinkTemplate)'">
                        I can help
                    </button>
                    <br />
                    <br />
                </li>
            }
        </ul>
    }
}
else
{
    <p>No items found.</p>
}
